@using PowerBiWeb.Shared.Project;
<EditForm Model="@project" OnValidSubmit="@HandleAdd">
    <DataAnnotationsValidator />
    <div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Project</h4>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                        <label for="name">Name</label>
                            <InputText id="name" @bind-Value="project.Name" class="form-control" />
                            <ValidationMessage For="@(() => project.Name)" />
                        </div>
                        <div class="form-group">
                            <label for="url">Metric project name</label>
                            <InputText id="url" @bind-Value="project.MetricName" class="form-control" />
                            <ValidationMessage For="@(() => project.MetricName)" />
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        Add
                    </button>
                    <button type="button" class="btn btn-light" @onclick=@Cancel>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter] public EventCallback<ProjectDTO?> OnClose { get; set; }
    private ProjectDTO project = new();
    private Task Cancel()
    {
        return OnClose.InvokeAsync(null);
    }
    private void HandleAdd()
    {
        OnClose.InvokeAsync(project);
    }
}