@using PowerBiWeb.Shared.Projects
<EditForm Model="@project" OnValidSubmit="@HandleAdd">
    <DataAnnotationsValidator />
    <div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Project</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <InputText id="name" @bind-Value="project.Name" class="form-control"  />
                        <ValidationMessage For="@(() => project.Name)" />
                    </div>
                        
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        Add
                    </button>
                    <button type="button" class="btn btn-outline-secondary" @onclick=@Cancel>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter] public EventCallback<ProjectDTO?> OnClose { get; set; }
    private ProjectDTO project = new();
    private Task Cancel()
    {
        return OnClose.InvokeAsync(null);
    }
    private void HandleAdd()
    {
        OnClose.InvokeAsync(project);
    }
}