@page "/projects"
@using PowerBiWeb.Client.Utilities.Interfaces;
@using PowerBiWeb.Shared.Project;
@using System.Text.Json;
@inject IJSRuntime JS
@inject ILogger<Projects> _logger;
@inject IToastService toastService;
@inject IProjectService _projectService
@inject NavigationManager navigation

<h3 id="p">Projects</h3>

<button type="button" class="btn btn-primary" @onclick="@ModalShow">Create new</button>

@if (loading)
{
    <div>Loading...</div>  
}
else if (_projects is not null)
{
    <div>
        <Table>
            <TableHeader>
                <TableRow>
                    <TableHeaderCell>Project name</TableHeaderCell>
                    <TableHeaderCell></TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                @for (int i = 0; i < _projects.Count; i++)
                {
                    int j = i;
                    ProjectDTO project = _projects.ElementAt(j);
                    <TableRow>
                        <TableRowHeader>@project.Name</TableRowHeader>
                        <TableRowCell>
                            <Button Color="Color.Secondary" Clicked="() => GoToDetail(project.Id)">
                                <Icon Name="IconName.ArrowRight" /> Show detail
                            </Button>
                        </TableRowCell>
                    </TableRow>
                }
            </TableBody>
        </Table>
    </div>
}

@if (showModal)
{
    <AddProject OnClose="@ModalOk"></AddProject>
}


@code {
    private IJSObjectReference? module;
    private AddProject? ModalWindow { get; set; }
    private bool showModal;
    void ModalShow() => showModal = true;
    private List<ProjectDTO>? _projects = null;
    private bool loading = true;

    private async Task LoadProjects()
    {
        _projects = null;
        loading = true;
        var response = await _projectService.GetProjectsAsync();
        if (response.IsSuccess)
        {
            _projects = response.Value!.ToList();
        }
        else
        {
            _logger.LogError(response.ErrorMessage);
            _projects = Array.Empty<ProjectDTO>().ToList();
        }
        loading = false;
    }
    private async Task ModalOk(ProjectDTO? project)
    {
        showModal = false;
        if (project is not null)
        {
            /*
            var response = await httpClient.PostAsJsonAsync("api/projects", project);
                if (response.IsSuccessStatusCode)
                {
                var p = await response.Content.ReadFromJsonAsync<ProjectDTO>();
                toastService.ShowSuccess("Project added");
                await LoadProjects();
                }
                else
                {
                toastService.ShowError("Could not create project");
            }
            */
            var response = await _projectService.CreateProject(project);
            if (response.IsSuccess)
            {
                var p = response.Value;
                toastService.ShowSuccess("Project added");
                await LoadProjects();
            }
            else
            {
                toastService.ShowError("Could not create project");
            }
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>(
                "import", "/js/powerBiUtils.js");

            if (module is null)
            {
                _logger.LogError("Could not load JS file");
            }
            _logger.LogInformation("Js loaded");
        }
    }
    protected async override Task OnInitializedAsync()
    {
        await LoadProjects();
    }
    private void GoToDetail(int projectId)
    {
        navigation.NavigateTo($"/projects/{projectId}");
    }
}
