@page "/projects"
@using PowerBiWeb.Shared.Project;
@using System.Text.Json;
@inject HttpClient httpClient
@inject IJSRuntime JS
@inject ILogger<Projects> _logger;
@inject IToastService toastService;

<h3 id="p">Projects</h3>

<button type="button" class="btn btn-primary" @onclick="@ModalShow">Create new</button>

@if(_projects is null)
{
    <div>Loading...</div>  
}
else
{
    <div>
        @foreach (var p in _projects)
        {
            string link = $"/projects/{p.Id}"; 
    
            <NavLink href=@link>
                <span>@p.Name</span>
            </NavLink>
            <br/>
    
        }
    </div>
}

@if (showModal)
{
    <AddProject OnClose="@ModalOk"></AddProject>
}


@*

<div @ref="@PowerBIElement" style="width:100%;height:600px;max-width: 2000px" />
*@

@code {
    private IJSObjectReference? module;
    private ElementReference PowerBIElement;
    private AddProject ModalWindow { get; set; }
    private bool showModal;
    void ModalShow() => showModal = true;
    private List<ProjectDTO>? _projects = null;

    async Task LoadProjects()
    {
        _projects = null;

        var response = await httpClient.GetAsync("api/projects");
        if (response.IsSuccessStatusCode)
        {
            _projects = await response.Content.ReadFromJsonAsync<List<ProjectDTO>>();
        }
        else
        {
            _logger.LogError("Could not load projects");
        }
    }
    async Task ModalOk(ProjectDTO? project)
    {
        showModal = false;
        if (project is not null)
        {
            var response = await httpClient.PostAsJsonAsync("api/projects", project);
            if (response.IsSuccessStatusCode)
            {
                var p = await response.Content.ReadFromJsonAsync<ProjectDTO>();
                toastService.ShowSuccess("Project added");
                await LoadProjects();
            }
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>(
                "import", "/js/powerBiUtils.js");

            if (module is null)
            {
                _logger.LogError("Could not load JS file");
            }
            _logger.LogInformation("Js loaded");
        }
    }
    protected async override Task OnInitializedAsync()
    {
        await LoadProjects();
        /*
        var response = await httpClient.GetAsync("api/report");
        if (response.IsSuccessStatusCode)
        {
            var text = await response.Content.ReadFromJsonAsync<EmbedParams>();

            await module.InvokeVoidAsync("showReport", PowerBIElement, text.EmbedToken.Token, text.EmbedReport[0].EmbedUrl, text.EmbedReport[0].ReportId);
        }
        */
    }
}
