@page "/projects"
@using System.Text.Json;
@inject HttpClient httpClient
@inject IJSRuntime JS
@inject ILogger<Projects> _logger;

<h3 id="p">Projects</h3>

<div @ref="@PowerBIElement" style="width:100%;height:600px;max-width: 2000px" />

@code {
    private IJSObjectReference? module;
    private ElementReference PowerBIElement;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>(
                "import", "/js/powerBiUtils.js");

            if (module is null)
            {
                _logger.LogError("Could not load JS file");
            }
            _logger.LogInformation("Js loaded");
        }
    }

    protected async override Task OnInitializedAsync()
    {

        var response = await httpClient.GetAsync("api/report");
        if (response.IsSuccessStatusCode)
        {
            var text = await response.Content.ReadFromJsonAsync<EmbedParams>();

            await module.InvokeVoidAsync("showReport", PowerBIElement, text.EmbedToken.Token, text.EmbedReport[0].EmbedUrl, text.EmbedReport[0].ReportId);
        }
    }
}
