@using Blazored.Toast.Configuration;
@using System.Security.Claims;
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authProvider;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            @if (username is not null)
            {
                <h3>@username</h3>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
        
    </main>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                RemoveToastsOnNavigation=true 
                MaxToastCount="3" />

@code {
    private string? username;

    protected override async Task OnInitializedAsync()
    {
        var state = await authProvider.GetAuthenticationStateAsync();

        username = state.User.Identity?.Name;
    }
}