@page "/projects/{projectId:int}/reports/{reportId:guid}"
@using PowerBiWeb.Client.Utilities.Interfaces;
@using PowerBiWeb.Shared.Project
@inject IReportService _reportService 
@inject IToastService toastService
@inject IJSRuntime JS
@inject ILogger<ReportDetail> _logger
@implements IDisposable

 @if (report is not null)
{
    <h3>@report.Name</h3>
}

<NavLink href=@($"/projects/{projectId}")>
    <button type="button" class="btn btn-primary"><Icon Name="IconName.ArrowLeft" /> Back</button>
</NavLink>
<br />

@if (report is null)
{
    <div>Loading...</div>
}

<div @ref="@PowerBIElement" style="width:100%;height:75vh;" />

@code {
    [Parameter]
    public Guid reportId { get; set; }
    [Parameter]
    public int projectId { get; set; }

    EmbedContentDTO? report;
    private ElementReference PowerBIElement;
    private IJSObjectReference? module;
    private CancellationTokenSource cts = new CancellationTokenSource();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>(
                "import", "/js/powerBiUtils.js");

            if (module is null)
            {
                _logger.LogError("Could not load JS file");
            }
            _logger.LogInformation("Js loaded");
        }
    }
    protected override async Task OnInitializedAsync()
    {
        var respose = await _reportService.GetReportAsync(projectId, reportId, cts.Token);

        if (respose.IsSuccess)
        {
            report = respose.Value;
            await EmbedView();
        }
        else
        {
            toastService.ShowError(respose.ErrorMessage);
        }
    }
    private async Task EmbedView()
    {
        if (module is null) return;
        await module.InvokeVoidAsync("showReport", PowerBIElement, report!.EmbedToken, report.EmbedUrl, report.Id);
    }
    public void Dispose()
    {
        cts.Cancel();
        cts.Dispose();
    }
}
